.block-2 {

  top: 0rem; 
   height: 30rem; 
   flex-direction: column;
   display: flex;
   justify-content: center;
   background-color: rgba(238, 132, 71, 0.425);
align-content: center;
align-items: center;
display: flex;
position: relative;

@include tablet {
 top: 35rem;
 height: 60rem;
   }
   @include desktop {
       top: 82rem;
       height: 160rem;
         }
}


#i-title {
  font-family: 'Adamina', serif;

font-size: 3rem;
color: color(secondary);
text-align: center;
text-shadow: white 1.5px 1.5px;
@include tablet {
  font-size: 5rem;
    }
    @include desktop {
        font-size: 8rem;
          }
}



.flex-parent-2 {  
  background-color: color(primary);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  height: 50rem;
  width: 95%;
 
}


.flex-child-2 {
margin: 2rem;
display: flex;
flex-direction: row;
align-self: center;
justify-content: center;
align-items: center;
max-height: 80rem;
background-color: color(secondary);
@include tablet {
  margin: 3rem;
    }
    @include desktop {
        margin: 4rem;
        width: 90rem;
          }
}

#header-text {
color: color(secondary);
text-align: center;
}

#paragraph-text {
color: color(secondary-variant);
text-align: center;
font-size: 3rem;
font-family: 'Lateef', cursive;
flex-wrap: wrap;
max-width: 50rem;
margin: 2rem;
}
 
#paragraph-text-2 {
  color: color(secondary-variant);
  text-align: center;
  font-size: 4rem;
  font-family: 'Rye', cursive;
  flex-wrap: wrap;
  max-width: 100rem;
  margin: 2rem;
  }

.left-box {
background-color: color(primary-variant);
display: flex;
column-gap: 40px;
flex-direction: column;
align-self: center;
justify-content: space-around;
width: 100rem;
height: 45rem;
@include tablet {
  width: 100rem;
  height: 45rem;
  }
  @include desktop {
    width: 50rem;
    height: 70rem;
    padding: 10rem;
        }
}

#images-left {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: color(secondary);
width: 25rem;
height: 90rem;

@include tablet {
  width: 25rem;
  height: 110rem;
  }
  @include desktop {
    width: 25rem;
height: 40rem;
        }
}


#photo-sm {
  max-height: 15rem; 
  margin: 2rem;
  @include tablet {
  
    height: 110rem;
    margin: 1rem;
    }
    @include desktop {

  height: 110rem;
  margin: 1rem;
          }
  }