

.block-1 {
    text-align: center;
    background-color: color(secondary-variant);
    height: 30rem; 

}

#h-image {
    width: 100%;
    filter: blur(1px);
    z-index: 1;
}

#title-h1 {
    font-family: 'Sigmar One', cursive;
     font-size: 3rem;
        color: color(secondary);
        text-align: center;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
}

