.block-2 {

  top: 7rem; 
   height: 190rem; 
   flex-direction: column;
   display: flex;
   justify-content: center;
   background-color: rgba(238, 132, 71, 0.425);
align-content: center;
align-items: center;
display: flex;
position: relative;

@include tablet {
 top: 45rem;
 height: 90rem;
   }
   @include desktop {
       top: 82rem;
       height: 160rem;
         }
}
