  
.block-4 {

  top: 9rem; 
   height: 190rem; 
   flex-direction: column;
   display: flex;
   justify-content: center;
   background-color: rgba(179, 243, 137, 0.425);
align-content: center;
align-items: center;
display: flex;
position: relative;

@include tablet {
 top: 45rem;
 height: 90rem;
   }
   @include desktop {
       top: 110rem;
       height: 160rem;
         }
}

.sights-all {
flex-direction: column; 
display: flex; 
width: 100%;
height: 1rem;
top: -89rem; 
 position: relative;
@include tablet {
   top: -35rem;
   position: relative;
   flex-direction: row;
     }
     @include desktop {
         top: -65rem;
         position: relative;
         flex-direction: row;
           }

}

#sight-title {
   font-family: 'Adamina', serif;
font-size: 3rem;
top: -90rem;
position: relative;
color: color(secondary);
text-align: center;
text-shadow: white 1.5px 1.5px;
@include tablet {
   font-size: 5rem;
   top: -35rem;
   position: relative;
     }
     @include desktop {
         font-size: 8rem;
         top: -62rem;
         position: relative;
           }
}



#s-column1 {
   display: flex;
   flex-direction: column;
   width: 100%;

   position: relative;
   @include tablet {
      padding: 1rem;
      }
      @include desktop {
         padding: 1rem;
            }
} 

#s-column2 {
   display: flex;
   flex-direction: column;
   width: 100%;

   position: relative;
   @include tablet {
      padding: 1rem;
      }
      @include desktop {
         padding: 1rem;
            }
   } 
   
   #s-column3 {
   display: flex;
   flex-direction: column;
   width: 100%;
   position: relative;
   @include tablet {
      padding: 1rem;
      }
      @include desktop {
         padding: 1rem;
            }
   }


/* 
.s-overlay {
z-index: 2;
display: flex;
justify-content: center;
align-content: center;
position: absolute;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgb(191, 233, 247);
@include tablet {
  height: 24rem;
  border-width: 1rem;
    }
    @include desktop {
        height: 30rem;
        border-width: 1rem;
       width: 100%;
        }
}
 */

.s-text {
color: rgb(182, 98, 42);
font-size: 1.5rem;
position: absolute;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
opacity: 1;
z-index: 2;
margin: -1rem;
font-family: 'Oregano', cursive;

@include tablet {
   font-size: 2rem;
     }
     @include desktop {
         font-size: 3.75rem;
         margin: -1rem;
           }
}

 


.s-image {
   z-index: 1;
   height: 15rem;
   margin: 2rem;
   opacity: .8;
   flex-direction: row;
   border-style: solid;
   border-width: .5rem;
   border-color: color(secondary);
   transition: all .3s;
   @include tablet {
      height: 16rem;
      border-width: .75rem;
      margin: 2.5rem;
        }
        @include desktop {
            height: 30rem; 
            border-width: 1rem;
            margin: 5rem;
            filter: blur(4px);
            }
 }

 .s-image:hover {
   @include desktop {
      filter: blur(0);
      }
   }

/* 
 .s-image:hover .overlay1{
   @include desktop {
  opacity: 1;
      }
   }

   .s-image:hover .s-text{
      @include desktop {
     opacity: 1;
         }
      }
 
   .s-image:hover {
      @include desktop {
     opacity: 0;
         }
      }

.overlay1 {
z-index: 3;
  opacity: 1;
  transition: .5s ease;
border-style: solid;
border-width: 1rem;
border-color: color(secondary);
background-color: whitesmoke;
}
 */




.sight1 {
   display: flex;
   justify-content: center;
       }

       .sight2 {
           display: flex;
           justify-content: center;
               }

               .sight3 {
                   display: flex;
                   justify-content: center;
                       }

                       .sight4 {
                           display: flex;
                           justify-content: center;
                               }
                           
                               .sight5 {
                                   display: flex;
                                   justify-content: center;
                                       }
                           
                                       .sight6 {
                                           display: flex;
                                           justify-content: center;
                                               }
                           
                                               .sight7 {
                                                   display: flex;
                                                   justify-content: center;
                                                       }

                                                       .sight8 {
                                                           display: flex;
                                                           justify-content: center;
                                                               }
                                                           
                                                               .sight9 {
                                                                   display: flex;
                                                                   justify-content: center;
                                                                       }
                                                              