

.block-1 {
    text-align: center;
    height: 20rem; 
    position: relative;
}

#h-image {
    width: 100%;
    clip-path: ellipse(85% 40% at 50% 30%);
    z-index: 1;
    filter: opacity(65%);
}

#header-text {
@include tablet {
width: 80%;
font-size: 200%;
left: 20rem;
}


}


#title-h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 4rem;
    color: color(secondary);
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 18rem;
    top: -.5rem;
    }
    
    #title-h2 {
        font-family: 'Aclonica', sans-serif;
        font-size: 2rem;
        color: color(secondary-variant);
        text-align: center;
        z-index: 2;
        position: absolute;
        left: 12.5rem;
        top: 1rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
     
    
    }









/*
 
 .poligon {
    display: inline-block;
    position:relative;
    width:150px;
    height:150px;
    background: black;
    box-sizing:border-box;
    padding:55px;
  }  

#img-border {
    display: inline-block;
    border:5px solid red;
    width:150px;
    height:150px; 
    clip-path: ellipse(80% 40% at 50% 30%);
    display: inline-block;
    position:relative;
    bottom: 10rem;
    width:100%;
    height:150px;
    background: black;
    box-sizing:border-box;
    z-index: to-lower-case($string: "");
  } */