
$colors: (
  primary: #e92121,
  primary-variant: #ffc8c8,
  secondary: rgb(51, 22, 5),
  secondary-variant: #ffffff,
  background: #a5a5a5,
);



$tablet: 600px;
$laptop: 900px;
$desktop: 1100px;


@function color($color-name) {
  @return map-get($colors, $color-name);
} 

 @mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
    
  }
} 

 @mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
 
