
$colors: (
  primary: #750b0b,
  primary-variant: #ffc8c8,
  secondary: rgb(73, 32, 8),
  secondary-variant: #ffffff,
  background: #a5a5a5,
);


$phone:600px;
$tablet: 600px;
$laptop: 1100px;
$desktop: 1100px;


@function color($color-name) {
  @return map-get($colors, $color-name);
} 

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

